#canvascontainer {
    /*padding-left: 40px;
    padding-top: 40px;*/
}

body {
    padding: 0;
    margin: 0;
    background-color: #cdcdcd;
}

#timer {
    font-family: monospace;
    font-size: 32pt;
    margin-left: 400px;
    margin-top: 40px;
}

#colorSelection {
    position: fixed;
    right: 0;
}

#colorButtonListParent {
    list-style: none;
    position: fixed;
    right: 0;
    top: 20px;
    width: 20px;
    margin: 0px 20px;
    background: #ddd;
    padding: 20px 20px 20px 20px;
    /*border: 2px solid;*/
    /*border-radius: 15px 0 0 15px;*/
}

.buttonListing {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.buttonListing:last-child {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.buttonListing button {
    border: none;
    width: 20px;
    height: 20px;
    color: transparent;
}

.buttonListing button:focus {
    outline: none;
}

.buttonListing button:active {
    border: 4px solid #ddd !important;
}

.activeColor {
    border: 4px solid #ddd !important;
}

#logged-in-users {
    position: fixed;
    bottom: 0;
    /*border: 2px solid #9fe2ff;*/
}


/*#logged-in-users:before {
    width: 70px;
    height: 20px;
    content: "Users";
    position: absolute;
    top: -19px;
    left: -2px;
    font-size: 12px;
    background: #9fe2ff;
    padding-left: 12px;
    font-family: 'Jaldi', sans-serif;
    font-weight: 700;
}*/

#logged-in-users>.user {
    display: inline-block;
    background: #dedede;
    padding: 0px 0px;
    position: relative;
}

#logged-in-users>.user>img {
    width: 20px;
}

#logged-in-users>.user>p.name {
    display: inline-block;
    margin: 0;
    top: -10px;
    position: relative;
    font-family: helvetica;
    font-size: 12px;
    margin-left: 9px;
}

#mainOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.54);
}

.innerContent {
    content: "";
    width: 480px;
    height: 240px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    color: white;
    /*border-radius: 15px;*/
    padding: 0px;
    box-sizing: border-box;
    background-image: url('/assets/pixelmania2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.innerContent h1 {
    font-size: 50px;
}

.buttonWrapper button {
    position: relative;
    border: 0;
    width: 60%;
    font-family: Jaldi;
    font-size: 13px;
    font-weight: 700;
    color: white;
    /*border-radius: 5px;*/
    top: 180px;
    margin-left: 20%;
    padding: 10px 14px;
}

.buttonWrapper button:hover {
    background: #777;
}
