#colorSelection{
    position: fixed;
    right: 0;
}

#colorButtonListParent{
    list-style: none;
    position: fixed;
    right: 0;
    top: 20%;
    width: 2em;
    margin-top: 0em;
    background-color:#888;
    padding: 30px 50px 30px 10px;
    border: 2px solid;
    border-radius: 15px 0 0 15px;
}

.buttonListing{
    margin: 10px 10px 10px 5px;
}

.buttonListing button{
    border:none;
    width:25px;
    height:25px;
    color: transparent;
    font-size:1px;
}

.buttonListing button:focus{
    outline: none;
}
.buttonListing button:active{
    border: 4px solid yellow !important;
}
.activeKleur{
    border: 3px solid yellow !important;
}
